* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* optional but recommended */
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

header {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background-image: url(images/background-header.png);
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  padding: 1rem 2rem;
}
nav a:hover,
nav a:active {
  color: #ff6565;
}
.menu {
  display: none;
  gap: 15px;
}
.menu li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
}
/*.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 10px;
}*/

.hamburger {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 10px;
  width: 30px; /* keep consistent */
  height: 24px; /* roughly 3 bars height */
  justify-content: center;
  align-items: center;
  background: transparent; /* keep default */
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background: #fff;
  transition: opacity 0.3s ease;
}
.hamburger > .span-size {
  width: 20px;
}
/* Hidden X icon by default */
.close-icon {
  display: none;
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  pointer-events: none;
}
/* ON HOVER: Hamburger transforms into dark circle with X */
.hamburger:hover {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.6);
}

/* Hide hamburger bars */
.hamburger:hover span {
  opacity: 0;
}

/* Show the X icon on logo hover */
.hamburger:hover .close-icon {
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  background: #ff6565;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  margin-bottom: 1rem;
}
.hero {
  text-align: center;
  padding: 2rem 0;
  color: #fff;
}
.hero > h1 {
  font-size: 2rem;
  font-style: bold;
  margin-top: 3rem;
}
.hero > p {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.hero > button {
  margin-top: 1rem;
}
@media (min-width: 420px) and (max-width: 768px) {
  .hero {
    margin: 0 auto;
    width: 80%;
  }
  .menu {
    display: flex;
  }
  .hamburger {
    display: none;
  }
  nav {
    flex-direction: row;
  }
}
@media (min-width: 769px) {
  .hero {
    margin: 0 auto;
    width: 60%;
  }
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
  }
  nav {
    flex-direction: row;
  }
}
