@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Lora&display=swap");

body {
  display: flex;
  flex-direction: column;
  font-family: "Lora", serif;
  color: #333;
  background: #f9f7f1;
}

header {
  background: #3f72af; /* a nice blue */
  border-bottom-color: #345a8e; /* darker border */
}
header a {
  color: #fff !important;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}
article {
  flex: 2;
  overflow-y: auto;
}
aside {
  flex: 1;
  overflow-y: auto;
  background: #d9e4f5;
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: "Montserrat", sans-serif;
}
footer {
  background: #112d4e;
  color: #fff;
}
footer a {
  color: #fff !important;
}
a {
  color: #f05a28 !important; /* warm orange */
  transition: color 0.3s ease;
}

a:hover,
a:focus {
  color: #d14613 !important;
  text-decoration: underline;
}
